<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <appSettings>
  <!-- Datos del servidor donde se guardan los .txt generados -->
  <add key="UpServer" value="localhost"/>
  <add key="UpServerRoute" value="/ftp"/>
  <add key="UpServerUser" value="compuleaders"/>
  <add key="UpServerPass" value="cacotas"/>
  <add key="UpServerPort" value="22"/>

    <add key="FilesRoute" value="C:\Cat_Mejoras\"/>
    <add key="FilesRoute2" value="C:\Cat_Mejoras"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--Data Source=172.18.60.41;Initial Catalog=SiccapPilotos;User ID=adm_main_usr;Password=adminC0c4D3lt4S13rr4;-->
    <!--<add name="ConnectionString2" connectionString="Data Source=HLSGROUP00038\SQLEXPRESS;Initial Catalog=BI_Tableau;Connection Timeout=3600;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString2" connectionString="Data Source=172.25.16.13;Initial Catalog=BI_Tableau;User ID=BI_Tableau;Password=$qlTableau02;Connection Timeout=10800; " providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString2" connectionString="Data Source=172.18.60.172;Initial Catalog=BI_Tableau;User ID=bitableau;Password=$qlTableau01;Connection Timeout=10800; " providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString2"
      connectionString="Data Source=172.24.34.145;Initial Catalog=BI_Tableau;User ID=S_BIDEVTABLEAU;Password=C4RG0BI01;Connection Timeout=10800; "
      providerName="System.Data.SqlClient"/>
  <add name="BI_TableauEntities"
      connectionString="metadata=res://*/Entity_Model.csdl|res://*/Entity_Model.ssdl|res://*/Entity_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.34.145;initial catalog=BI_Tableau;persist security info=True;user id=S_BIDEVTABLEAU;password=C4RG0BI01;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/></connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>